$primary: #0F4C81;
$lightprimary: #658DC6;
$lighterprimary: #B5C7D3;
$secondary: #F3D5AD;
$offprimary: #84898C;
$offsecondary: #F5B895;
$middle: #A58D7F;

@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Lexend Giga', sans-serif;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.container {
  height: 100vh;
}

#gameboard {
  display: none;
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.board-box {
  border-right: 5px ridge $offsecondary;
  border-bottom: 5px ridge $offsecondary;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 50px;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  &:hover {
    border: 5px groove $middle;
    background-color: $secondary;
    box-shadow: 4px 4px 8px $offprimary;
    transform: translate(-3px, -3px);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 8px darken($offprimary, 20%);
    background-color: darken($secondary, 12);
  }
}

#create-board {
  margin-top: 10px;
}

.unauthenticated {
  display: none;
}

#title {
  background-color: $lighterprimary;
  height: 100vh;
}

.nav-link, #login-tab {
  background-color: $lightprimary;
  color: white;
  margin: 5px 0;
  box-shadow: 3px 3px 3px $offprimary;

  &:hover{
    background-color: $offprimary;
    color: white;
    box-shadow: 3px 3px 3px darken($offprimary, 10%);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 8px darken($offprimary, 20%);
  }
}

#sign-out {
  background-color: white;
  box-shadow: 3px 3px 3px $offprimary;
  margin-top: 5px;

  &:hover {
    background-color: red;
    color: white;
  }
}

#logo {
  color: $primary;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

#sign-in {
  border: 4px solid $lightprimary;
  margin: 20px auto;
  padding: 20px 20px;
}

input[type=text], input[type=password], input[type=number]{
  width: 50%;
  border: 1px solid $lighterprimary;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $offprimary;

  &:focus {
    box-shadow: 3px 3px 4px darken($offprimary, 20%);
  }
}

.btn {
  background-color: white;
  border: 2px solid $lighterprimary;
  box-shadow: 1px 1px 2px lighten($offprimary, 20%);

  &:hover{
    background-color: $lightprimary;
    color: white;
    box-shadow: 3px 3px 3px $offprimary;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 8px darken($offprimary, 20%);
  }
}

label {
  font-weight: bold;
  color: $lightprimary;
}

#gameLogStats {
  display: none;
}
