@import '~bootstrap/scss/bootstrap';

#left-side-bar {
  display: static;
  margin: 0;
}

#title {
  display: static;
  margin-left: 10px;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.board-box {
  border: 4px solid black;
  background-color: light-grey;
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
}

.board-box:hover {
    border: 4px solid white;
    cursor: pointer;
  }


main {
  background-color: grey;
}

.gameboard {
  justify-content: center;
  align-items: center;
  display: flex;
}
